@{
    ViewData["Title"] = "Home Page";
}

 <!-- content begin -->
        <div id="content" class="no-bottom no-top">

            <!-- revolution slider begin -->
            <section id="section-slider" class="fullwidthbanner-container">
                <div id="revolution-slider">
                    <ul>
                        <li data-transition="fade" data-slotamount="10" data-masterspeed="200" data-thumb="">
                            <!--  BACKGROUND IMAGE -->
                            <img src="images-slider/wide1.jpg" alt="" />
                            <div class="tp-caption big-white sft"
                                data-x="0"
                                data-y="160"
                                data-speed="800"
                                data-start="400"
                                data-easing="easeInOutExpo"
                                data-endspeed="450">
                                Chuyên môn của chúng tôi
                            </div>

                            <div class="tp-caption ultra-big-white customin customout start"
                                data-x="0"
                                data-y="center"
                                data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:2;scaleY:2;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                                data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.85;scaleY:0.85;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                                data-speed="800"
                                data-start="400"
                                data-easing="easeInOutExpo"
                                data-endspeed="400">
                                Thiết kế nội thất
                            </div>

                            <div class="tp-caption sfb"
                                data-x="0"
                                data-y="335"
                                data-speed="400"
                                data-start="800"
                                data-easing="easeInOutExpo">
                                <a href="#" class="btn-slider">Danh mục đầu tư 
                                </a>
                            </div>
                        </li>

                        <li data-transition="fade" data-slotamount="10" data-masterspeed="200" data-thumb="">
                            <!--  BACKGROUND IMAGE -->
                            <img src="images-slider/wide2.jpg" alt="" />
                            <div class="tp-caption big-white sft"
                                data-x="0"
                                data-y="160"
                                data-speed="800"
                                data-start="400"
                                data-easing="easeInOutExpo"
                                data-endspeed="450">
                                Dự án đặc trưng
                            </div>

                            <div class="tp-caption ultra-big-white customin customout start"
                                data-x="0"
                                data-y="center"
                                data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:2;scaleY:2;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                                data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.85;scaleY:0.85;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                                data-speed="800"
                                data-start="400"
                                data-easing="easeInOutExpo"
                                data-endspeed="400">
                                Nội thất xanh
                            </div>

                            <div class="tp-caption sfb"
                                data-x="0"
                                data-y="335"
                                data-speed="400"
                                data-start="800"
                                data-easing="easeInOutExpo">
                                <a href="#" class="btn-slider">Danh mục đầu tư 
                                </a>
                            </div>
                        </li>

                        <li data-transition="fade" data-slotamount="10" data-masterspeed="200" data-thumb="">
                            <!--  BACKGROUND IMAGE -->
                            <img src="images-slider/wide3.jpg" alt="" />
                            <div class="tp-caption big-white sft"
                                data-x="0"
                                data-y="160"
                                data-speed="800"
                                data-start="400"
                                data-easing="easeInOutExpo"
                                data-endspeed="450">
                                Tu sửa nội thất để hoàn thành

                            </div>

                            <div class="tp-caption ultra-big-white customin customout start"
                                data-x="0"
                                data-y="center"
                                data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:2;scaleY:2;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                                data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.85;scaleY:0.85;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                                data-speed="800"
                                data-start="400"
                                data-easing="easeInOutExpo"
                                data-endspeed="400">
                                Cuộc sống của bạn dễ dàng hơn
                            </div>

                            <div class="tp-caption sfb"
                                data-x="0"
                                data-y="335"
                                data-speed="400"
                                data-start="800"
                                data-easing="easeInOutExpo">
                                <a href="#" class="btn-slider">Danh mục đầu tư
                                </a>
                            </div>
                        </li>

                    </ul>
                </div>
            </section>
            <!-- revolution slider close -->

            <!-- section begin -->
            <section id="section-about">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6 col-md-offset-3 text-center wow fadeInUp">
                            <h1>Công việc</h1>
                            <div class="separator"><span><i class="fa fa-circle"></i></span></div>
                            <div class="spacer-single"></div>
                        </div>


                        <div class="col-md-4 wow fadeInLeft">
                            <h3><span class="id-color">Khu dân cư</span>  Thiết kế</h3>
                            Hưởng thụ có thể là tự thưởng cho mình một chuyến nghỉ dưỡng ở một khu du lịch hoặc đôi khi chỉ đơn giản là một suất massage toàn thân, một tách cà phê ở nơi yên tĩnh, hoặc chỉ đơn giản là được tận hưởng một không gian ấm cúng êm dịu và bình yên. Điều đó sẽ giúp bạn vơi đi phần nào lo toan, vướng bận hoặc giải tỏa căng thẳng, uể oải sau sau một ngày làm việc, học hành.
							<div class="spacer-single"></div>
                            <img src="images/misc/pic_1.jpg" class="img-responsive" alt="">
                        </div>

                        <div class="col-md-4 wow fadeInUp" data-wow-delay=".2s">
                            <h3><span class="id-color">Văn phòng</span> Thiết kế</h3>
                            Hưởng thụ có thể là tự thưởng cho mình một chuyến nghỉ dưỡng ở một khu du lịch hoặc đôi khi chỉ đơn giản là một suất massage toàn thân, một tách cà phê ở nơi yên tĩnh, hoặc chỉ đơn giản là được tận hưởng một không gian ấm cúng êm dịu và bình yên. Điều đó sẽ giúp bạn vơi đi phần nào lo toan, vướng bận hoặc giải tỏa căng thẳng, uể oải sau sau một ngày làm việc, học hành.
							<div class="spacer-single"></div>
                            <img src="images/misc/pic_2.jpg" class="img-responsive" alt="">
                        </div>

                        <div class="col-md-4 wow fadeInRight">
                            <h3><span class="id-color">Khu thương mại</span> Thiết kế</h3>
                            Hưởng thụ có thể là tự thưởng cho mình một chuyến nghỉ dưỡng ở một khu du lịch hoặc đôi khi chỉ đơn giản là một suất massage toàn thân, một tách cà phê ở nơi yên tĩnh, hoặc chỉ đơn giản là được tận hưởng một không gian ấm cúng êm dịu và bình yên. Điều đó sẽ giúp bạn vơi đi phần nào lo toan, vướng bận hoặc giải tỏa căng thẳng, uể oải sau sau một ngày làm việc, học hành.
							<div class="spacer-single"></div>
                            <img src="images/misc/pic_3.jpg" class="img-responsive" alt="">
                        </div>

                    </div>
                </div>
            </section>
            <!-- section close -->


            <!-- section begin -->
            <section id="section-steps" class="text-light">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6 col-md-offset-3 text-center wow fadeInUp">
                            <h1>Quá trình </h1>
                            <div class="separator"><span><i class="fa fa-circle"></i></span></div>
                            <div class="spacer-single"></div>
                        </div>

                        <div class="col-md-12">
                            <div class="de_tab tab_steps">
                                <ul class="de_nav">
                                    <li class="active wow fadeIn" data-wow-delay="0s"><span>Gặp &amp; Đồng ý</span><div class="v-border"></div>
                                    </li>
                                    <li class="wow fadeIn" data-wow-delay=".4s"><span>Phong cách</span><div class="v-border"></div>
                                    </li>
                                    <li class="wow fadeIn" data-wow-delay=".8s"><span>Thiết kế &amp; Khởi tạo</span><div class="v-border"></div>
                                    </li>
                                    <li class="wow fadeIn" data-wow-delay="1.2s"><span>Xây dựng &amp; Lắp đặt</span><div class="v-border"></div>
                                    </li>
                                </ul>

                                <div class="de_tab_content">

                                    <div id="tab1">
                                       Chúng ta sẽ gặp nhau và bắt đầu tìm hiểu và trao đổi
                                    </div>

                                    <div id="tab2">
                                        Tiếp theo, ta có thể bàn bạc và lên ý tưởng về phong cách bạn muốn cho không gian của bạn.
                                    </div>

                                    <div id="tab3">
                                       Sau khi nắm rõ ý tưởng cũng như hiểu được phong cách của bạn, biết được yêu cầu của bạn, nhóm chúng tôi sẽ xây dựng bản mẫu ý tưởng.
                                    </div>

                                    <div id="tab4">
                                       Sau khi bản mẫu được thông qua, chúng ta sẽ tiến hành lắp đặt và thiết kế nội thất cho không gian của bạn.
                                    </div>

                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- section close -->


            <!-- section begin -->
            <section id="section-portfolio" class="no-top no-bottom">
                <div class="container">

                    <div class="spacer-single"></div>

                    <!-- portfolio filter begin -->
                    <div class="row">
                        <div class="col-md-12 text-center">
                            <ul id="filters" class="wow fadeInUp" data-wow-delay="0s">
                                <li><a href="#" data-filter="*" class="selected">Tất cả dự án</a></li>
                                <li><a href="#" data-filter=".residential">Khu dân cư</a></li>
                                <li><a href="#" data-filter=".hospitaly">Khách sạn</a></li>
                                <li><a href="#" data-filter=".office">Văn phòng</a></li>
                                <li><a href="#" data-filter=".commercial">Khu thương mạil</a></li>
                            </ul>

                        </div>
                    </div>
                    <!-- portfolio filter close -->

                </div>

                <div id="gallery" class="gallery full-gallery de-gallery pf_full_width wow fadeInUp" data-wow-delay=".3s">

                    <!-- gallery item -->
                    <div class="item residential">
                        <div class="picframe">
                            <a class="simple-ajax-popup-align-top" href="project-details-1.html">
                                <span class="overlay">
                                    <span class="pf_text">
                                        <span class="project-name">Nội thất Eco Green</span>
                                    </span>
                                </span>
                            </a>
                            <img src="images/portfolio/pf%20(1).jpg" alt="" style="width: 25%; height: 250px"/>
                        </div>
                    </div>
                    <!-- close gallery item -->

                    <!-- gallery item -->
                    <div class="item hospitaly">
                        <div class="picframe">
                            <a class="simple-ajax-popup-align-top" href="project-details-2.html">
                                <span class="overlay">
                                    <span class="pf_text">
                                        <span class="project-name">Suite sang trọng hiện đại</span>
                                    </span>
                                </span>
                            </a>

                            <img src="images/portfolio/pf%20(2).jpg" alt="" style="width: 25%, height: 250px" />
                        </div>
                    </div>
                    <!-- close gallery item -->

                    <!-- gallery item -->
                    <div class="item hospitaly">
                        <div class="picframe">
                            <a class="simple-ajax-popup-align-top" href="project-details-3.html">
                                <span class="overlay">
                                    <span class="pf_text">
                                        <span class="project-name">Cải tiến căn hộ
</span>
                                    </span>
                                </span>
                            </a>

                            <img src="images/portfolio/pf%20(3).jpg" alt="" style="width: 25%; height: 250px" />
                        </div>
                    </div>
                    <!-- close gallery item -->

                    <!-- gallery item -->
                    <div class="item residential">
                        <div class="picframe">
                            <a class="simple-ajax-popup-align-top" href="project-details-youtube.html">
                                <span class="overlay">
                                    <span class="pf_text">
                                        <span class="project-name">Youtube Video</span>
                                    </span>
                                </span>
                            </a>
                            <img src="images/portfolio/pf%20(4).jpg" alt="" style="width: 25%; height: 250px" />
                        </div>
                    </div>
                    <!-- close gallery item -->

                    <!-- gallery item -->
                    <div class="item office">
                        <div class="picframe">
                            <a class="simple-ajax-popup-align-top" href="project-details-vimeo.html">
                                <span class="overlay">
                                    <span class="pf_text">
                                        <span class="project-name">Vimeo Video</span>
                                    </span>
                                </span>
                            </a>
                            <img src="images/portfolio/pf%20(5).jpg" alt="" style="width: 25%; height: 250px" />
                        </div>
                    </div>
                    <!-- close gallery item -->

                    <!-- gallery item -->
                    <div class="item commercial">
                        <div class="picframe">
                            <a class="simple-ajax-popup-align-top" href="project-details.html">
                                <span class="overlay">
                                    <span class="pf_text">
                                        <span class="project-name">Nhà hàng ở Xetas</span>
                                    </span>
                                </span>
                            </a>
                            <img src="images/portfolio/pf%20(6).jpg" alt="" style="width: 25%,s height: 250px" />
                        </div>
                    </div>
                    <!-- close gallery item -->

                    <!-- gallery item -->
                    <div class="item residential">
                        <div class="picframe">
                            <a class="simple-ajax-popup-align-top" href="project-details-youtube.html">
                                <span class="overlay">
                                    <span class="pf_text">
                                        <span class="project-name">Ngôi nhà mùa hè</span>
                                    </span>
                                </span>
                            </a>

                            <img src="images/portfolio/pf%20(7).jpg" alt="" style="width: 25%; height: 250px" />
                        </div>
                    </div>
                    <!-- close gallery item -->

                    <!-- gallery item -->
                    <div class="item office">
                        <div class="picframe">
                            <a class="simple-ajax-popup-align-top" href="project-details-vimeo.html">
                                <span class="overlay">
                                    <span class="pf_text">
                                        <span class="project-name">Văn phòng trên vũ trụ</span>
                                    </span>
                                </span>
                            </a>

                            <img src="images/portfolio/pf%20(8).jpg" alt="" style="width: 25%" />
                        </div>
                    </div>
                    <!-- close gallery item -->

                </div>

                <div id="loader-area">
                    <div class="project-load"></div>
                </div>
            </section>
            <!-- section close -->


            <!-- section begin -->
            <section id="view-all-projects" class="call-to-action bg-color text-center" data-speed="5" data-type="background">
                <a href="projects.html" class="btn btn-line-black btn-big">Danh mục tất cả Dự án</a>
            </section>
            <!-- logo carousel section close -->


            <!-- section begin -->
            <section id="section-testimonial" class="text-light">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6 col-md-offset-3 text-center wow fadeInUp">
                            <h1>Khách hàng nói gì</h1>
                            <div class="separator"><span><i class="fa fa-circle"></i></span></div>
                            <div class="spacer-single"></div>
                        </div>
                    </div>
                    <div id="testimonial-carousel" class="de_carousel  wow fadeInUp" data-wow-delay=".3s">

                        <div class="col-md-6 item">
                            <div class="de_testi">
                                <blockquote>
                                    <p>Thật tuyệt vời với những thiết kế nội thất như thế này, tôi sẽ đặt kỳ vọng cho ngôi nhà của mình vào các bạn!.</p>
                                    <div class="de_testi_by">
                                        Chau, Khách hàng
                                    </div>
                                </blockquote>

                            </div>
                        </div>

                        <div class="col-md-6 item">
                            <div class="de_testi">
                                <blockquote>
                                    <p>TThật tuyệt vời với những thiết kế nội thất như thế này, tôi sẽ đặt kỳ vọng cho ngôi nhà của mình vào các bạn!.</p>
                                    <div class="de_testi_by">
                                        Tuyen, Khách hàng
                                    </div>
                                </blockquote>
                            </div>
                        </div>

                        <div class="col-md-6 item">
                            <div class="de_testi">
                                <blockquote>
                                    <p>Thật tuyệt vời với những thiết kế nội thất như thế này, tôi sẽ đặt kỳ vọng cho ngôi nhà của mình vào các bạn!.</p>
                                    <div class="de_testi_by">
                                        An, Khách hàng
                                    </div>
                                </blockquote>
                            </div>
                        </div>

                        <div class="col-md-6 item">
                            <div class="de_testi">
                                <blockquote>
                                    <p>Thật tuyệt vời với những thiết kế nội thất như thế này, tôi sẽ đặt kỳ vọng cho ngôi nhà của mình vào các bạn!.</p>
                                    <div class="de_testi_by">
                                        Tran, Khách hàng
                                    </div>
                                </blockquote>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- section close -->
