<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<title>Nội thất Chiến Thần</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="Responsive Minimal Bootstrap Theme">
	<meta name="keywords" content="onepage,responsive,minimal,bootstrap,theme">
	<meta name="author" content="">

	<!-- CSS Files
	================================================== -->
	<link rel="stylesheet" href="css/bootstrap.css" type="text/css">
	<link rel="stylesheet" href="css/jpreloader.css" type="text/css">
	<link rel="stylesheet" href="css/animate.css" type="text/css">
	<link rel="stylesheet" href="css/plugin.css" type="text/css">
	<link rel="stylesheet" href="css/owl.carousel.css" type="text/css">
	<link rel="stylesheet" href="css/owl.theme.css" type="text/css">
	<link rel="stylesheet" href="css/owl.transitions.css" type="text/css">
	<link rel="stylesheet" href="css/magnific-popup.css" type="text/css">
	<link rel="stylesheet" href="css/style.css" type="text/css">


	<!-- custom background -->
	<link rel="stylesheet" href="css/bg.css" type="text/css">

	<!-- color scheme -->
	<link rel="stylesheet" href="css/color.css" type="text/css" id="colors">

	<!-- load fonts -->
	<link rel="stylesheet" href="fonts/font-awesome/css/font-awesome.css" type="text/css">
	<link rel="stylesheet" href="fonts/elegant_font/HTML_CSS/style.css" type="text/css">
	<link rel="stylesheet" href="fonts/et-line-font/style.css" type="text/css">

	<!-- revolution slider -->
	<link rel="stylesheet" href="rs-plugin/css/settings.css" type="text/css">
	<link rel="stylesheet" href="css/rev-settings.css" type="text/css">
</head>

<body id="homepage">

	<div id="wrapper">

		<!-- header begin -->
		<header>
			<div class="container">
				<div class="row">
					<div class="col-md-11">
						<!-- logo begin -->
						<h1 id="logo">
							<a href="index.html">
								<img class="logo" src="images/lg.png" alt="" style="height:30px; width: 250px; text-align: left; float: left;">
							</a>
						</h1>
						<!-- logo close -->
						<!-- small button begin -->
						<span id="menu-btn"></span>
						<!-- small button close -->
						<!-- mainmenu begin -->
						<nav>
							<ul id="mainmenu" style="margin-top: -5px">
								<li>
									<a href="index.html">Trang chủ</a>

								</li>
								<li><a href="projects.html">Dự Án</a></li>
								<li>
									<a href="services.html">Dịch vụ</a>
									<ul>

										<li><a href="service-2.html">Thiết kế Khách sạn</a></li>
										<li><a href="service-3.html">Thiết kế Văn phòng</a></li>
										<li><a href="service-4.html">Thiết kế Khu thương mại </a></li>
									</ul>
								</li>
								<li><a href="about.html">Giới thiệu</a></li>
								<li><a href="blog.html">Blog</a></li>
								<li><a href="shop.html">Cửa hàng</a></li>
								<li><a href="contact.html">Liên hệ</a></li>
								<li><a href="DangNhap.html">Đăng Nhập</a></li>
							</ul>
						</nav>

					</div>
					<!-- mainmenu close -->

				</div>
			</div>
		</header>

		@RenderBody()


		 <!-- footer begin -->
            <footer>
                <div class="container">
                    <div class="row">
                        <div class="col-md-4">
                            <h3>Giới thiệu về chúng tôi</h3>
                        Nhóm chúng tôi lấy cảm hứng dựa trên sự tự nhiên. Mục đích chính là tạo cho bạn cảm giác được cảm thấy thoải mái ở chính ngôi nhà, nơi làm việc của bạn. Ngoài ra, thông qua thiết kế nội thất, giúp bạn giải toả những căng thẳng, những mệt mỏi đang vây lấy bạn, cũng như giúp bạn hạnh phúc hơn với không gian của mình.
                    </div>

                    <div class="col-md-4">
                        <div class="widget widget_recent_post">
                            <h3>Tin tức mới nhất</h3>
                            <ul>
                                <li><a href="#">5 Thứ giúp cho căn phòng của chúng ta tuyệt hơn.</a></li>
                                <li><a href="#">Kệ treo tường tiện dụng và phong cách</a></li>
                                <li><a href="#">9 Những cách độc đáo và khác thường để trang trí cho TV của bạn</a></li>
                                <li><a href="#">5 Bí mật để tạo ra thiết kế đơn giản, tối giản</a></li>
                                <li><a href="#">Cách tạo ra tác động lớn với bội số</a></li>
                            </ul>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <h3>Liên hệ chúng tôi</h3>
                        <div class="widget widget-address">
                            <address>
                                <span>140 Lê Trọng Tấn, Tân Phú</span>
                                <span><strong>Điện thoại:</strong>(208) 333 9296</span>
                                <span><strong>Fax:</strong>(208) 333 9298</span>
                                <span><strong>Email:</strong><a href="">gotobed@gmail.com</a></span>
                            </address>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="subfooter">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-6">
                                                     
                            </div>
                            <div class="col-md-6 text-right">
                                <div class="social-icons">
                                    <a href="#"><i class="fa fa-facebook fa-lg"></i></a>
                                    <a href="#"><i class="fa fa-twitter fa-lg"></i></a>
                                    <a href="#"><i class="fa fa-rss fa-lg"></i></a>
                                    <a href="#"><i class="fa fa-google-plus fa-lg"></i></a>
                                    <a href="#"><i class="fa fa-skype fa-lg"></i></a>
                                    <a href="#"><i class="fa fa-dribbble fa-lg"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </footer>
	</div>
</body>
<!-- header close -->
