<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.min.js" integrity="sha384-cuYeSxntonz0PPNlHhBs68uyIAVpIIOZZ5JqeqvYYIcEL727kskC66kF92t6Xl2V" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


<div class="grid grid-rows-2 grid-flow-col grid-cols-3 gap-4 h-[400px] mt-2 pl-1">
    <div class="row-span-2 h-full col-span-2">
        <div class="h-full w-full">
        <video autoplay loop muted class="w-full h-full object-cover min-h-[400px]">
            <source src="./assets/images/advert.mp4">
        </video>
    </div></div>
    <div class="col-span-1 ">
        <div class="h-full w-full p-2 ">
            <img class="rounded-5 h-full w-full" src="./assets/images/0dede5311f00ca5e9311.jpg"> 

        </div>
        
    </div>
    <div class="row-span-1 col-span-1 ">
        <div class="h-full w-full p-2 ">
            <img class="rounded-5 h-full w-full" src="./assets/images/0dede5311f00ca5e9311.jpg"> 

        </div>
    </div>
  </div>
<br><br>


<div class="px-5 ">
	<p class="mb-0">  YOUR FAVES, MAKE AFFORDABLE</p>
	<H2>GET THE NOW, PAY LATER</H2>
	<div class="w-full h-[50px] px-10 py-2 bg-black text-white text-2xl flex justify-center items-center">
		EXPLORE NOW
	</div>
</div>
<br>
<br>
<app-list-category></app-list-category>

<br>
<br>

<div>
    <source src="./assets/images/decoration.mp4">
</video>
</div>
<br>
<app-list-product></app-list-product>





    <div class="d-flex gap-x-5">
      <div  *ngFor="let item of data.slice(i * 5, (i + 1) * 5)" class="picsum-img-wrapper  w-100 h-full  ">
        <img class="w-full h-[250px]" height="150px" src="./assets/images/{{item.anh}}">
        {{item.tenLoai}}

